@font-face {
  font-family: "Pretendard";
  font-weight: 45 920;
  font-style: normal;
  src:
    local("Pretendard"),
    url("../fonts/PretendardVariable.woff2") format("woff2-variations");
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;

  &:before,
  &:after,
  i, div, main, section  {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    user-select: none;
  }
}



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 15px;
  font-family: "Pretendard", "Malgun Gothic", "맑은 고딕", "돋움", Dotum, Sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  color: #333;
}

:-webkit-input-placeholder,
:-ms-placeholder,
:-moz-placeholder,
::placeholder {
  font-family: "Pretendard", "Malgun Gothic", "맑은 고딕", "돋움", Dotum, Sans-serif;
}

html {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-weight: 400;
  min-width: 1440px;
  overflow-x: auto;
}

body {
  position: relative;
  min-height: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background: #fafafa;
}

h1, h2 {
  font-weight: 700;
}

h3,
h4,
h5,
h6,
em {
  font-weight: 600;
  font-style: normal;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li,
dl,
dt,
dd {
  list-style: none;
}

button,
img,
button,
select,
input,
label,
textarea {
  font-family: "Pretendard";
  vertical-align: middle;
  border: none;
  margin: 0;
  padding: 0;
}

button {
  &:disabled {
    cursor: default;
  }

  background: transparent;

  > span {
    position: relative;
  }
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  word-break: break-word;
}

caption {
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  display: block;
}

a {
  text-decoration: none;
  color: #363636;
  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }
}



body {
  display: block;
  min-width: 1280px;
  @media screen and (max-width: 1280px) {
    overflow-x: auto;
  }
}

form {
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
}


header {
  height: 72px;
  width: 100%; display: flex;
  align-items: center;
  background: #fff;
  padding: 0 40px;
  position: sticky;
  top: 0;
  .logo-link {
    display: flex;
    width: 48px;
    height: 48px;
    background: url("../img/logo.svg") no-repeat center;
    cursor: pointer;
  }
  nav {
    display: flex; margin-left: auto;
    ul {
      display: flex;
      align-items: center;
      gap: 40px;
      li {
        a {
          font-size: 18px; 
          font-weight: 500;
          color: #000;
        }
      }
    }
  }
  > button {
    width: 151px;
    margin-left: 48px;
    height: 46px;
    border: 1px solid #d6d6d8;
    border-radius: 60px;
    color: #000;
    font-size: 15px; 
    font-weight: 600;
    word-spacing: -0.02em;
    cursor: pointer;
  }
  &.active {
    position: fixed; z-index: 2;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }
}


main {position: relative; z-index: 0;}

/* article 숨김 + 모션용 기본값 */
article section {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease;
}

section.active {
  opacity: 1;
  transform: translateY(0);
}


aside {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  background: #fff; 
  &:nth-child(even) {
    background: #F9F9F9;
  }
  &:nth-child(3) {
    background: #fff;
    height: 800px;
  }
  &#introSub {
    &.active {
      
    }
    section {
      height: 418px;
      display: flex; 
      flex-direction: column;
      padding-top: 100px;
      position: relative;
      width: 0;
      overflow: hidden;
      transition: all .5s;
      transform: scale(0);
      &.active {
        width: 100%;
        max-width: 1517px;
        overflow: inherit;
        transform: scale(1);
      }
      h2 {
        font-size: 44px;
        text-align: center;
        line-height: 120%;
        color: #000;
      }
      p {
        margin-top: 28px;
        font-size: 20px;
        font-weight: 500;
        line-height: 160%;
        word-spacing: -0.01em;
        color: #272932;
        text-align: center;
        display: inline-block;
      }
      .visual-icon {
        transition: all;
        animation: float 3s ease-in-out infinite; /* 3초 간격으로 무한 반복 */
        animation-play-state: running; /* 애니메이션이 중지되지 않도록 설정 */
        animation-delay: var(--delay, 0s);
        position: absolute;
        &.main-icon {
          filter:drop-shadow(8px 16px 20px rgba(71,82,92,0.13))
        }
        &[data-icon="pdf"] {
          left: 290px;
          top: 60px; 
        }
        &[data-icon="ppt"] {
          right: 245px;
          top: 161px;
        }
        &[data-icon="word"] {
          left: 356px;
          bottom: 60px;
        }
        &[data-icon="excel"] {
          right: 410px;
          bottom: 0; 
        }
        &[data-icon="doc"] {
          left: 72px;
          top: 0; 
        }
        &[data-icon="write"] {
          left: 0;
          bottom: 116px; 
        }
        &[data-icon="folder"] {
          left: 237px;
          top: 191px;
        }
        &[data-icon="img"] {
          right: 384px;
          top: 37px; 
        }
        &[data-icon="file"] {
          right: 95px;
          top: 91px;
        }
        &[data-icon="box"] {
          right: 180px;
          bottom: 75px;
        }
        &[data-icon="cloud"] {
          right: 0;
          bottom: 161px;
        }
      }    
      
    }
  }
}

.main-visual {
  display: block;
  min-height: calc(100vh - 72px);
  padding: 98px 0;
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    h1 {
     font-size: 84px; font-weight: 700;
     color: #000;
     line-height: 100%; 
     word-spacing: -0.03em;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 160%;
      word-spacing: -0.01em;
      color: #272932;
      text-align: center;
    }
    > button {
      background: #27282C;
      color: #fff;
      border-radius: 48px;
      padding: 20px 30px; 
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 20px;
      word-spacing: -0.01em;
      .icon {
        display :block;
        width: 24px;
        height: 24px; 
        background: url("../img/down_ico.svg") no-repeat center;
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0); /* 시작 위치 */
  }
  50% {
    transform: translateY(-10px); /* 위로 떠오름 */
  }
  100% {
    transform: translateY(0); /* 다시 원래 위치로 */
  }
}